/* Reset default properties */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* variables for colors */
:root {
  --highlight-color: #ff7264;
  --white-color: #fff;
  --text-color: #7f7f7f;
  --dark-bg-color: #2e2e2e;
  --light-bg-color: #fff;
  --gray-bg-color: #666;
}

/* navigation section */
nav {
  text-align: right;
  position: fixed;
  top: 0;
  width: 100%;
  margin-top: 20px;
  padding-right: 20px;
}

nav ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

nav ul li a {
  text-decoration: none;
  color: var(--white-color);
}

nav ul li a:hover {
  border-bottom: 1px solid var(--white-color);
}

/* Hide Hamburger */
#page-nav label, #hamburger {
  display: none;
}

/* [ON SMALL SCREENS] */
@media screen and (max-width: 768px){
  /* Show Hamburger */
  #page-nav label {
    display: inline-block;
    color: var(--white-color);
    background: var(--highlight-color);
    font-style: normal;
    font-size: 1.2em;
    padding: 10px;
  }

  /* Break down menu items into vertical */
  #page-nav ul li {
    display: block;
  }
  /* Toggle show/hide menu on checkbox click */
  #page-nav ul {
    display: none;
  }
  #page-nav input:checked ~ ul {
    display: block;
  }
}

/* header section */
header {
  background-image: url("/images/top_banner_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white-color);
}

header h1, header p {
  text-align: center;
}

header h1 {
  margin-top: 125px;
  padding-bottom: 10px;
}

#logo {
  margin-top: 25px;
  margin-left: 25px;
}


/* review section */
#review-section {
}
